* {
  outline: none;
}

.navbar {
  position: relative;
  top: 0;
  left: 0;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1px solid rgb(104, 104, 104);
  background-color: rgb(40, 40, 40);
  color: #fff;
  padding: 0 1rem;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.l-n span {
  color: #ffd149;
  font-weight: 500;
}

.l-n {
  font-family: 'Montserrat', sans-serif;
  color: white;
  cursor: pointer;
  
  font-size: 2rem;
}

.navbar-menu {
  list-style: none;
  display: flex;
  justify-content:flex-end;
 
  padding: 0;
  margin: 0;
  
}

.navbar-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar-link, .navbar-btn {
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
}

.navbar-link:hover, .navbar-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: auto;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 12vh;
    left: 0;
    width: 100%;
    background-color: rgba(34, 33, 33, 0.9);
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    transform: translateY(-100%);
    z-index: 1000;
  }

  .navbar-menu.active {
    display: flex;
    transform: translateY(0);
  }

  .navbar-item {
    margin: 0.5rem 0;
    text-align: center;
  }

  .navbar-link {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .hamburger {
    display: block;
  }

  .navbar-logo {
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    height: auto;
    padding: 0.5rem;
  }

  .l-n {
    font-size: 1.8rem;
  }

  .navbar-menu {
    width: 100%;
    
  }

  .navbar-item {
    margin: 0.5rem 0;
    
  }

  .navbar-link {
    font-size: 1.1rem;
    padding: 0.8rem 1rem;
 
  }

  .hamburger {
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }
  .navbar-logo {
    
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
  .navbar-link:hover, .navbar-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

@media (min-width: 769px) {
  .navbar-menu {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    background-color: transparent;
    box-shadow: none;
    margin-left: 0;
  }

  .navbar-item {
    font-size: 1.1rem;
    margin: 0 1rem;
    padding: 0.6rem 1.2rem;
  }

  .navbar-link {
    font-size: 1.1rem;
    padding: 0.6rem 1.2rem;
  }

  .hamburger {
    display: none;
  }
}



